nav{
  width: 100%;
  /* padding: 5px 3%; */
  margin-bottom: 10px;
}

nav .navbar{
  width: 100%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  /* background-color: white; */
  color:white;
}

.navbar div:first-child{
font-size: 1.6rem;
}
.navbar div:first-child span{
  /* font-size: 2.5rem; */
}

.navbar div:last-child{
  display: flex;
  gap: 20px;
}
.navbar div:last-child i{
  cursor: pointer;
}
 nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
 }

 nav ul li a{
  text-decoration: none;
  color: aliceblue;
 }


 .hamburger-icon{
  display: none;
  /* background-color: yellow; */
 }

 /* header styles */
 header .main-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  /* background-color: #fff; */
 }

 header .text-container{
  flex: 1;
  min-width: 300px;
  /* background-color: gray; */
  color: rgb(180, 176, 176);  
 }
 header .text-container h1{
  font-size: 3rem;
  transform: translateY(-20px);
 }
 header .text-container p{
  max-width: 400px;
 }


 /* header .text-container button{
  padding: 20px 40px;
  background-color: white;  
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  
 } */

 .h-btn-cont{
  width: 100%;
 }

 header .image-container{
  flex: 1;
  min-width: 300px;
  /* background-color: aqua; */
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 header .image-container img{
  width: 80%;
  transform:scale(-1);
 }



 .hamburger-section{
  display: none;
  position: absolute;
  inset: 0;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all o.9s ease;
 }

 .hamburger-section .h-main-container{
  width: 80%;
  background-color: rgb(43, 15, 15);
  height: 100%;
  /* transform: translateX(-100%); */
  transition: all 0.5s ease;
 }
 .vate{
  /* transform: translateX(100%); */
  background: #fff2f2;
  
 }

 .close-hamburger{
  float: right;
  padding: 10px;
  border-radius: 50%;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  color: aliceblue;
  background-color: rgb(82, 8, 82);
 }

 .active{
  display: block;
  opacity: 1;
  visibility: visible;
 }

 @media (max-width:768px) {
    .hamburger-icon{
    display: block;
  }

  nav ul{
    display: none;
    /* background-color: #fff; */
    /* color: red; */
  }
  .first-section{
    padding-bottom: 120px;
    /* color: #fff; */
    

  }
 }

 @media (max-width:690px) {



   header .image-container{
    /* background-color: #fff; */
   }
    header .text-container h1{
       text-align: center;
    }
    header .text-container p{
       text-align: center;
       max-width: 100%;
    }

     header .text-container button{
      margin: 0 auto;
      /* background-color:; */
  
    }
    .h-btn-cont{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
   
 }

