.product-section{
  width: 100%;
  padding: 5%;
  height: max-content;
  background-color: #ffffff;
  font-family: poppins;
}
.product-section .upper-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 20px;
  /* background-color: #111; */
  /* color: wheat; */
}

.view-all-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: black;
}


 .products-container{
    display:grid;

    /* Responsive Grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    gap:25px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}
.card>.img-cont{
  height:60%;
  /* height: 100%; */
  /* background-color: #6e4545; */
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    margin: 0 auto;
    max-width: 250px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    margin:15px 0 10px;
}

.price{
    color:crimson;
    font-size:22px;
    font-weight:bold;
}

.products-container button{
    margin-top:15px;
    width:100%;
    padding:12px;
    border:none;
    background:#111;
    color:white;
    border-radius:8px;
    cursor:pointer;
    margin-bottom: 60px;
}

.products-container button:hover{
    background:#333;
}

@media (max-width:600px) {
   .products-container{
 display:grid;

    /* Responsive Grid */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


    gap:25px;
}
}